.app {
	background-color: var(--background);
	min-height: 100vh;
	overflow: hidden;
    font-family: 'Bitter';
}

.container {
	max-width: 768px;
	margin: 0 auto;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 2rem 0;
}

nav img {
	height: 2rem;
	cursor: pointer;
}

.settings {
	display: flex;
	gap: 1rem;
}

.dropdown-container {
	position: relative;
	display: inline-block;
}

.dropdown-container * {
	color: #000;
}

.font-dropdown {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: transparent;
	font-size: 1rem;
	padding: 0.625rem;
	padding-right: 1.25rem;
	border: none;
	border-radius: 0.5rem;
	color: #000;
	background-color: #fff;
	cursor: pointer;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="blue"><path d="M7 10l5 5 5-5z"/></svg>');
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 1.25rem;
	font-family: inherit;
}

.font-dropdown:focus {
	outline: none;
}

.font-dropdown option[value='Serif'] {
	font-family: 'Bitter';
}

.font-dropdown option[value='Sans-serif'] {
	font-family: 'Roboto', sans-serif;
}

.font-dropdown option[value='Monospace'] {
	font-family: 'Courier New', monospace;
}

/* Customizing the dropdown options */
.font-dropdown::-ms-expand {
	display: none; /* Remove default dropdown arrow in IE */
}

.vertical-line {
	height: auto;
	width: 0.125rem;
	background-color: var(--text);
	opacity: 0.2;
}

.content-container {
	margin: 2rem 0;
}

.search-form {
	display: flex;
	width: 100%;
	margin: 1rem 0;
	background-color: var(--background-light);
	border-radius: 1rem;
}

.search-bar {
	width: 100%;
	padding: 1rem;
	font-size: 1.25rem;
	font-weight: 600;
	border: none;
	border-radius: 1rem;
	background-color: var(--background-light);
}

.search-bar:focus {
	outline: none;
}

.search-logo {
	background-color: transparent;
	border: none;
	width: 3.5rem;
	color: var(--accent);
}

.top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}

.search-word {
	font-size: 2.75rem;
	font-weight: 700;
}

.phonetic {
	color: var(--accent);
	font-size: 1.25rem;
	margin: 0.5rem 0;
}

.button-phonetic {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	border: none;
	background-color: var(--accent-light);
}

.button-phonetic img {
	height: 2.5rem;
	padding-left: 0.25rem;
}

.speech-part {
	font-size: 1.25rem;
	font-weight: 600;
}

.meaning-title {
	color: var(--text-light);
	margin-block: 2rem 1rem;
}

ul > li {
	margin: 1rem 2rem;
}

li::marker {
	color: var(--accent);
}

.syn-ant-div {
	margin-block: 1rem 2rem;
}
.syn-ant {
	color: var(--text-light);
}

.syn-ant-value {
	color: var(--accent);
	font-weight: 600;
	padding-left: 1rem;
}

.example {
	color: var(--text-light);
	padding-left: 2.25rem;
}

.empty {
	display: flex;
	flex-direction: column;
	height: 60vh;
	justify-content: center;
	align-items: center;
}

.empty-logo > img {
	height: 10rem;
	opacity: 0.25;
}

.empty-title {
	font-size: 4rem;
	color: var(--text-light);
	opacity: 0.5;
}
